body {
 font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #eeeeee;
  margin-top: 0;
}

header {
  background-color: #053b50;
  color: #eeeeee;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

nav ul li a {
  color: #eeeeee;
  text-decoration: none;
  margin: 1em;
}


.labels{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 300px;
  text-align: center;
  padding: 1em; 

}

.textAreas{
  display: block;
  width: 300px;
  height: 25px;
  margin-left: 20px;
  vertical-align: middle;
}

.radioName {
  text-decoration: underline;
  padding: 6px;
  margin-bottom: 20px;
}


.radio-group1 input[type="radio"] {
  margin-bottom: 20px;
  margin-right: 5px;

}

.radio-group1 label{
  margin-right: 15px;
  vertical-align: middle;
  margin-bottom: 20px;
 
}

#submitButton{
  margin: auto;
  float: right;
  padding: 10px;  
}

#submit{
  background-color: #64ccc5;
   width: 100px;
   height: 25px;
}

@media (min-width: 600px) {
   .div {
     display: flex;
     flex-direction: column;
   }
   .topnav a {
     float: none;
     width: 100%;
  }
   #one{
     font-size:16px;
     line-height: 1.8;

}
}
 @media screen and (min-width: 900px) {
   .topnav a {
      width: 100%;
   }
   .div {
     display: flex;
     vertical-align: text-top;
     text-align: center;
 }
}

