body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #053B50;
  margin-top: 0;
}
h1 {
  background-color: #EEEEEE;
  font-size: 30px;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;
}
h2 {
   background-color: #EEEEEE;
   font-size: 40px;
}
.nav {
  float: none;
  font-size: 27px;
  text-align: center;
  color: #176B87;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
.nav a:hover {
  background-color: #64CCC5;
  color: #176B87;
  text-decoration: none;
}

.myDiv {
  background-color: #053B50;
  outline: 7px #64CCC5;
  margin: auto;
  padding: 15px;
}
